.ui.items:first-child {
  margin-top: 1em !important;
}

.client-item-list {
  padding-left: 1em !important;
} 

.client-item-list:hover {
  background-color: #f7f7f7 !important;
  cursor: pointer !important;
}
.client-item-list.active {
  background-color: #dfe3ee !important;
  cursor: pointer !important;
}

.items-list {
  padding-right: 0 !important;
}
.clients-search input {
  border-radius: 0 !important;
  font-size: 1.2em;
}

.item-details {
  margin-top: 3em;
}

.avatar-thumb img {
  width: 80% !important;
} 